<html lang="en">

    <%- include('./partials/head.ejs') %>


<body>
        <%- include('./partials/nav.ejs') %>


    <div class="blogs content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint odio recusandae mollitia. Veniam corrupti consequuntur itaque quia inventore voluptate debitis omnis, iusto dolorem, rem modi sint voluptas aperiam blanditiis placeat!</p>
    </div>
        <%- include('./partials/footer.ejs') %>

</body>

</html>